@{
    ViewData[ "Title" ] = "Index";    
}
@using SimpleImageGallery.Data.Model;
@using SimpleImageGallery.Models
@model GalleryIndexModel

<div class="continer body-content">
    <div class="row gallery-content">
        @foreach( GalleryImage image in Model.Images ) {
            <div class="gallery-image-container">
                <div class="gallery-image" style="background:url(@image.Url)"></div>
            </div>                       
        }
    </div>
</div>
